<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h1>Add medicine and it's details here</h1>
        <form class="" action='/meds/add' method="post">
            <input type="text" name="name" placeholder="medicine name"/>
            <input type="text" name="count" placeholder="count"/>
            <input type="text" name="brand" placeholder="brand name"/>
            <button type="submit">Add</button>
        </form>
    </body>
</html>